html {
    height: 100%;
    overflow-x: hidden;
}

.bg-gradient-modern {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding-bottom: 3rem;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

a {
  @apply transition-colors text-emerald-600 dark:text-emerald-500 hover:text-emerald-500 dark:hover:text-emerald-400;
  color: inherit;
}

p {
    margin: 0px !important;
}

input[readonly] {
    background-color: #999999;
}

.mult-select-tag .body {
    background: #1a1a1a !important;
}

.date_column {
    min-width: 100px;
}

.white_text {
    color: white;
}

.center_text {
    text-align: center;
}

.row {
  padding-top: 20px;
}

.hide {
    display:none;
}

.white_image {
  filter: brightness(0) invert(1);
}

.list_img {
  display:block;
  max-height:160px;
  width: auto;
}

.full_width{
    width: 100%;
}

.ninety-five {
  min-height: 95vh;
}

/*
multiple selector options

.mult-select-tag .item-container {
    color: black !important;
    background: #94e3d3 !important;
}

.mult-select-tag .item-label {
    color: #dedede !important;
}
*/


@media screen and (max-width: 479px) {

    .row {
      padding-top: 5px;
    }

    .w_30_p{
      width: 30vw;
    }

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    margin: 0;
}


